# ---------- Secrets ----------
.env
.env.*
*.key

# ---------- Python ----------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# ---------- Streamlit ----------
.streamlit/secrets.toml

# ---------- VS Code ----------
.vscode/
*.code-workspace

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- Logs ----------
*.log


# ---------- Cache ----------
.cache/
